@import "tailwindcss";

.logo {
    font-family: "Mrs Saint Delafield", cursive;
  }

body, nav, .normal {
    font-family: "Inter", sans-serif;
}
.home, .heading {
  font-family: "Chelsea Market", system-ui;
}

.logo2, .titles {
  font-family: "Cinzel", serif;
}

.lexend {
  font-family: "Lexend Zetta", sans-serif;
}

.subheading{
  font-family: "Chewy", system-ui;
}

/* .hero-text {
  text-shadow: 1px 1px 4px #3e3e3e;
} */

